$blue : #003A99;
$light-blue: #1873F2;
$blue-75: #7595CA;
$blue-EA: #EAF1FA;
$blue-10: #F1F4F9;
$blue-5: #E9EEF5;
$dark-white: #F5F8FA;
$white-f6 : #F6F6F6;
$dark-white-half : rgba(245, 248, 250, 0.5);
$white: #FEFEFE;
$white-10: rgba(254, 254, 254, 0.1);
$black: #101010;
$black-half : #727272;
$black-D2: #D2D2D2;
$black-2C: #2C2C2C;
$gray-A0 : #A0A0A0;
$light-green : rgba(22, 230, 126, 0.1);