@font-face {
  src: url("/font/Vazir-Bold-FD.ttf");
  font-family: Bold;
}
@font-face {
  src: url("/font/Vazir-FD.ttf");
  font-family: Regular;
}
@font-face {
  src: url("/font/Vazir-Light-FD.ttf");
  font-family: Light;
}
@font-face {
  src: url("/font/Vazir-Medium-FD.ttf");
  font-family: Medium;
}
@font-face {
  src: url("/font/Vazir-Thin-FD.ttf");
  font-family: Thin;
}